main {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 32px;
}

body {
	background: #EE5928;
}

button {
	all: unset;
	color: white;
	padding: 16px;
	border: 1px solid white;
	border-radius: 8px;
}

.problem-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;	
}

.up { grid-area: 1 / 2 / 2 / 3; }
.left { grid-area: 2 / 1 / 3 / 2; }
.right { grid-area: 2 / 3 / 3 / 4; }
.down { grid-area: 3 / 2 / 4 / 3; }



.answer-container {

}